:root{

    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;
}
.navbar{
    width:100vw;
    background-color: #031d03;
    min-height: 5vh;
    justify-content: center;
    display: flex;
}
.navbar a,i{
    margin: 1vh auto;
    font-size: 36px;
    display: inline-block;
    color:white;
    
}
.body-container{
    display: flex;
    justify-content: center;
}

.fancify-box{
    margin: 4vh;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
.fancify-box input{
    display:inline-block; 
}
.fancify-box textarea{
    margin: 2vh 0 2vh 0 ;
}
#radio-set{
    border: none;
}
button.bigger{
    padding: 4vh 2vw;
    flex: 0;
    color:white;
    background-color: #031d03;
    border-radius: 2vw;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s all ease-in-out;
    cursor:pointer;
}
button.bigger:hover{
    background-color: #095209;
}